{% extends "layouts/base.njk" %}

{% block mainContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Terms and conditions</h1>

      <p class="govuk-body">By using this service you agree to these terms and conditions.</p>

      <h2 class="govuk-heading-l">Using this service</h2>
      <p class="govuk-body">You agree to use this service only for lawful purposes. You must not use this service:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>in any way that breaches any applicable law or regulation</li>
        <li>to send or upload any material that is unlawful, harmful or offensive</li>
        <li>to attempt to gain unauthorised access to any part of the service</li>
      </ul>

      <h2 class="govuk-heading-l">Disclaimer</h2>
      <p class="govuk-body">This service is provided "as is" without warranty of any kind. We do not guarantee that the service will be available at all times or free from errors.</p>

      <h2 class="govuk-heading-l">Changes to these terms</h2>
      <p class="govuk-body">We may update these terms from time to time. Continued use of the service after changes constitutes acceptance of the new terms.</p>
    </div>
  </div>
{% endblock %}
