{# Copyright © 2024–2026 Jasper Ford #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{# Author: Jasper Ford #}
{# See NOTICE file for attribution and acknowledgements. #}

{#
  Safe notification banner partial that properly escapes user content
  Usage:
    {% set notificationMessage = successMessage %}
    {% set notificationType = "success" %}
    {% include "partials/notification-banner.njk" %}
#}

{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% if notificationMessage %}
  {# Using titleText ensures proper escaping of user content #}
  {{ govukNotificationBanner({
    type: notificationType if notificationType else undefined,
    titleText: "Success" if notificationType == "success" else "Important",
    text: notificationMessage
  }) }}
{% endif %}
