{# Copyright (c) 2024-2026 Jasper Ford #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{# Author: Jasper Ford #}
{# See NOTICE file for attribution and acknowledgements. #}

{% extends "layouts/base.njk" %}

{% block mainContent %}
  <a class="govuk-back-link" href="{{ urlFor('/marketplace/' + (item.id | string)) }}">{{ t("govuk_alpha_commerce.common.back_to_listing") }}</a>

  {% if reportErrors.length %}
    <div class="govuk-error-summary" data-module="govuk-error-summary" tabindex="-1">
      <div role="alert">
        <h2 class="govuk-error-summary__title">{{ t("govuk_alpha_commerce.common.error_title") }}</h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            {% for error in reportErrors %}<li><a href="#{{ error.field }}">{{ error.message }}</a></li>{% endfor %}
          </ul>
        </div>
      </div>
    </div>
  {% endif %}

  <span class="govuk-caption-xl">{{ t("govuk_alpha_commerce.report.caption", { community: tenantName or serviceName }) }}</span>
  <h1 class="govuk-heading-xl">{{ t("govuk_alpha_commerce.report.title") }}</h1>
  <p class="govuk-body-l">{{ t("govuk_alpha_commerce.report.description") }}</p>

  <dl class="govuk-summary-list govuk-!-margin-bottom-6">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">{{ t("govuk_alpha_commerce.report.item_label") }}</dt>
      <dd class="govuk-summary-list__value">{{ item.title or t("govuk_alpha.marketplace.title") }}</dd>
    </div>
  </dl>

  <form method="post" action="{{ urlFor('/marketplace/' + (item.id | string) + '/report') }}" novalidate>
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">

    <div class="govuk-form-group{% if reasonError %} govuk-form-group--error{% endif %}">
      <fieldset class="govuk-fieldset" {% if reasonError %}aria-describedby="reason-error"{% endif %}>
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h2 class="govuk-fieldset__heading">{{ t("govuk_alpha_commerce.report.reason_label") }}</h2>
        </legend>
        {% if reasonError %}
          <p id="reason-error" class="govuk-error-message"><span class="govuk-visually-hidden">{{ t("govuk_alpha_commerce.common.error_prefix") }}</span> {{ reasonError.message }}</p>
        {% endif %}
        <div class="govuk-radios" data-module="govuk-radios">
          {% for reason in reasons %}
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="{{ 'reason' if loop.first else 'reason-' ~ reason.value }}" name="reason" type="radio" value="{{ reason.value }}"{% if oldInput.reason == reason.value %} checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="{{ 'reason' if loop.first else 'reason-' ~ reason.value }}">{{ reason.label }}</label>
            </div>
          {% endfor %}
        </div>
      </fieldset>
    </div>

    <div class="govuk-form-group{% if descriptionError %} govuk-form-group--error{% endif %}">
      <label class="govuk-label govuk-label--s" for="description">{{ t("govuk_alpha_commerce.report.description_label") }}</label>
      <div id="description-hint" class="govuk-hint">{{ t("govuk_alpha_commerce.report.description_hint") }}</div>
      {% if descriptionError %}
        <p id="description-error" class="govuk-error-message"><span class="govuk-visually-hidden">{{ t("govuk_alpha_commerce.common.error_prefix") }}</span> {{ descriptionError.message }}</p>
      {% endif %}
      <textarea class="govuk-textarea{% if descriptionError %} govuk-textarea--error{% endif %}" id="description" name="description" rows="5" aria-describedby="description-hint{% if descriptionError %} description-error{% endif %}">{{ oldInput.description }}</textarea>
    </div>

    <div class="govuk-button-group">
      <button class="govuk-button govuk-button--warning" data-module="govuk-button">{{ t("govuk_alpha_commerce.report.submit") }}</button>
      <a class="govuk-link" href="{{ urlFor('/marketplace/' + (item.id | string)) }}">{{ t("govuk_alpha_commerce.common.cancel") }}</a>
    </div>
  </form>
{% endblock %}
