{# Copyright (c) 2024-2026 Jasper Ford #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{# Author: Jasper Ford #}
{# See NOTICE file for attribution and acknowledgements. #}

{% extends "layouts/base.njk" %}

{% block mainContent %}
  <a href="{{ urlFor('/federation/settings') }}" class="govuk-back-link">{{ t("federation.optout.back") }}</a>

  <span class="govuk-caption-xl">{{ t("federation.optout.caption", { community: tenantName }) }}</span>
  <h1 class="govuk-heading-xl">{{ t("federation.optout.title") }}</h1>

  {% include "federation/_nav.njk" %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-visually-hidden">{{ t("states.warning") }}</span>
          {{ t("federation.optout.warning_title") }}
        </strong>
      </div>

      <p class="govuk-body">{{ t("federation.optout.warning_body") }}</p>

      <form method="post" action="{{ urlFor('/federation/opt-out') }}">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        <div class="govuk-button-group">
          <button type="submit" class="govuk-button govuk-button--warning" data-module="govuk-button">{{ t("federation.optout.submit") }}</button>
          <a class="govuk-link" href="{{ urlFor('/federation/settings') }}">{{ t("federation.optout.cancel") }}</a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
