{# Copyright (c) 2024-2026 Jasper Ford #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{# Author: Jasper Ford #}
{# See NOTICE file for attribution and acknowledgements. #}

{% extends "layouts/base.njk" %}

{% block mainContent %}
  <a href="{{ urlFor('/federation/partners') }}" class="govuk-back-link">Back to Federation partners</a>

  <span class="govuk-caption-xl">Federation partner</span>
  <div class="nexus-alpha-module-row">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">{{ partner.name }}</h1>
    {% if partner.isExternal %}
      <strong class="govuk-tag govuk-tag--blue">External</strong>
    {% elif partner.levelName %}
      <strong class="govuk-tag govuk-tag--purple">{{ partner.levelName }}</strong>
    {% endif %}
  </div>

  <nav class="govuk-service-navigation govuk-!-margin-bottom-6" aria-label="Federation">
    <ul class="govuk-service-navigation__list">
      <li class="govuk-service-navigation__item"><a class="govuk-service-navigation__link" href="{{ urlFor('/federation') }}">Overview</a></li>
      <li class="govuk-service-navigation__item govuk-service-navigation__item--active"><a class="govuk-service-navigation__link" href="{{ urlFor('/federation/partners') }}">Partners</a></li>
      <li class="govuk-service-navigation__item"><a class="govuk-service-navigation__link" href="{{ urlFor('/federation/members') }}">Members</a></li>
      <li class="govuk-service-navigation__item"><a class="govuk-service-navigation__link" href="{{ urlFor('/federation/listings') }}">Listings</a></li>
      <li class="govuk-service-navigation__item"><a class="govuk-service-navigation__link" href="{{ urlFor('/federation/events') }}">Events</a></li>
      <li class="govuk-service-navigation__item"><a class="govuk-service-navigation__link" href="{{ urlFor('/federation/groups') }}">Groups</a></li>
      <li class="govuk-service-navigation__item"><a class="govuk-service-navigation__link" href="{{ urlFor('/federation/connections') }}">Connections</a></li>
      <li class="govuk-service-navigation__item"><a class="govuk-service-navigation__link" href="{{ urlFor('/federation/messages') }}">Messages</a></li>
      <li class="govuk-service-navigation__item"><a class="govuk-service-navigation__link" href="{{ urlFor('/federation/settings') }}">Settings</a></li>
    </ul>
  </nav>

  {% if partner.tagline %}
    <h2 class="govuk-heading-l">{{ t("federation.partner.about_label") }}</h2>
    <p class="govuk-body">{{ partner.tagline }}</p>
  {% endif %}

  <dl class="govuk-summary-list">
    {% if partner.location %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Location</dt>
        <dd class="govuk-summary-list__value">{{ partner.location }}</dd>
      </div>
    {% endif %}
    {% if partner.country %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">{{ t("federation.country_label") }}</dt>
        <dd class="govuk-summary-list__value">{{ partner.country }}</dd>
      </div>
    {% endif %}
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Members</dt>
      <dd class="govuk-summary-list__value">{{ partner.memberCount }}</dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Listings</dt>
      <dd class="govuk-summary-list__value">{{ partner.listingCount }}</dd>
    </div>
    {% if not partner.isExternal and partner.levelName %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Level</dt>
        <dd class="govuk-summary-list__value">{{ partner.levelName }}</dd>
      </div>
    {% endif %}
    {% if partner.partnershipSince %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Since</dt>
        <dd class="govuk-summary-list__value">{{ partner.partnershipSince | date }}</dd>
      </div>
    {% endif %}
    {% if partner.permissions.length %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Permissions</dt>
        <dd class="govuk-summary-list__value">
          {% for permission in partner.permissions %}
            <strong class="govuk-tag govuk-tag--grey govuk-!-margin-right-1">{{ permission }}</strong>
          {% endfor %}
        </dd>
      </div>
    {% endif %}
  </dl>

  {% if partner.permissions.length %}
    <h2 class="govuk-heading-m">Browse this partner community</h2>
    <ul class="govuk-list">
      {% if "profiles" in partner.permissions %}
        <li><a class="govuk-link" href="{{ urlFor('/federation/members') }}{% if partner.isInternal %}?partner_id={{ partner.id | urlencode }}{% endif %}">Browse members</a></li>
      {% endif %}
      {% if "listings" in partner.permissions %}
        <li><a class="govuk-link" href="{{ urlFor('/federation/listings') }}{% if partner.isInternal %}?partner_id={{ partner.id | urlencode }}{% endif %}">{{ t("guide.browse_listings") }}</a></li>
      {% endif %}
      {% if "events" in partner.permissions %}
        <li><a class="govuk-link" href="{{ urlFor('/federation/events') }}{% if partner.isInternal %}?partner_id={{ partner.id | urlencode }}{% endif %}">Browse events</a></li>
      {% endif %}
    </ul>
  {% endif %}
{% endblock %}
