{# Copyright (c) 2024-2026 Jasper Ford #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{# Author: Jasper Ford #}
{# See NOTICE file for attribution and acknowledgements. #}

{% extends "layouts/base.njk" %}

{% block mainContent %}
  <a href="{{ urlFor('/federation') }}" class="govuk-back-link">{{ t("federation.settings.back") }}</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">{{ t("federation.settings.caption", { community: tenantName }) }}</span>
      <h1 class="govuk-heading-xl">{{ t("federation.settings.title") }}</h1>
      <p class="govuk-body-l">{{ t("federation.settings.description") }}</p>

      {% include "federation/_nav.njk" %}

      {% if statusBanner %}
        {% if statusBanner.type == "error" %}
          <div class="govuk-error-summary" data-module="govuk-error-summary" tabindex="-1">
            <div role="alert">
              <h2 class="govuk-error-summary__title">{{ t("states.error_title") }}</h2>
              <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                  <li><a href="#profile_visible_federated">{{ statusBanner.message }}</a></li>
                </ul>
              </div>
            </div>
          </div>
        {% else %}
          <div class="govuk-notification-banner govuk-notification-banner--success" data-module="govuk-notification-banner" role="alert" aria-labelledby="fed-settings-status">
            <div class="govuk-notification-banner__header">
              <h2 class="govuk-notification-banner__title" id="fed-settings-status">{{ t("states.success_title") }}</h2>
            </div>
            <div class="govuk-notification-banner__content">
              <p class="govuk-notification-banner__heading">{{ statusBanner.message }}</p>
            </div>
          </div>
        {% endif %}
      {% endif %}

      {% if not optedIn %}
        <div class="govuk-inset-text"><p class="govuk-body">{{ t("federation.settings.not_opted_in") }}</p></div>
        <a class="govuk-button" data-module="govuk-button" href="{{ urlFor('/federation/opt-in') }}">{{ t("federation.settings.optin_cta") }}</a>
      {% else %}
        <div class="govuk-notification-banner" data-module="govuk-notification-banner" role="region" aria-labelledby="fed-settings-active">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="fed-settings-active">
              <span class="govuk-tag govuk-tag--green">{{ t("federation.settings.federation_active_status") }}</span>
            </h2>
          </div>
          <div class="govuk-notification-banner__content">
            <p class="govuk-body">{{ t("federation.settings.federation_active_description") }}</p>
          </div>
        </div>

        <form method="post" action="{{ urlFor('/federation/settings') }}">
          <input type="hidden" name="_csrf" value="{{ csrfToken }}">

          <fieldset class="govuk-fieldset govuk-!-margin-bottom-6">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">{{ t("federation.settings.visibility_legend") }}</legend>
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="profile_visible_federated" name="profile_visible_federated" type="checkbox" value="1" aria-describedby="profile_visible_federated-hint"{% if settings.profileVisibleFederated %} checked{% endif %}>
                <label class="govuk-label govuk-checkboxes__label" for="profile_visible_federated">{{ t("federation.settings.profile_visible_label") }}</label>
                <div id="profile_visible_federated-hint" class="govuk-hint govuk-checkboxes__hint">{{ t("federation.settings.profile_visible_hint") }}</div>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="appear_in_federated_search" name="appear_in_federated_search" type="checkbox" value="1" aria-describedby="appear_in_federated_search-hint"{% if settings.appearInFederatedSearch %} checked{% endif %}>
                <label class="govuk-label govuk-checkboxes__label" for="appear_in_federated_search">{{ t("federation.settings.appear_in_search_label") }}</label>
                <div id="appear_in_federated_search-hint" class="govuk-hint govuk-checkboxes__hint">{{ t("federation.settings.appear_in_search_hint") }}</div>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="show_skills_federated" name="show_skills_federated" type="checkbox" value="1" aria-describedby="show_skills_federated-hint"{% if settings.showSkillsFederated %} checked{% endif %}>
                <label class="govuk-label govuk-checkboxes__label" for="show_skills_federated">{{ t("federation.settings.show_skills_label") }}</label>
                <div id="show_skills_federated-hint" class="govuk-hint govuk-checkboxes__hint">{{ t("federation.settings.show_skills_hint") }}</div>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="show_location_federated" name="show_location_federated" type="checkbox" value="1" aria-describedby="show_location_federated-hint"{% if settings.showLocationFederated %} checked{% endif %}>
                <label class="govuk-label govuk-checkboxes__label" for="show_location_federated">{{ t("federation.settings.show_location_label") }}</label>
                <div id="show_location_federated-hint" class="govuk-hint govuk-checkboxes__hint">{{ t("federation.settings.show_location_hint") }}</div>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="show_reviews_federated" name="show_reviews_federated" type="checkbox" value="1" aria-describedby="show_reviews_federated-hint"{% if settings.showReviewsFederated %} checked{% endif %}>
                <label class="govuk-label govuk-checkboxes__label" for="show_reviews_federated">{{ t("federation.settings.show_reviews_label") }}</label>
                <div id="show_reviews_federated-hint" class="govuk-hint govuk-checkboxes__hint">{{ t("federation.settings.show_reviews_hint") }}<br>{{ t("federation.settings.show_reviews_help") }}</div>
              </div>
            </div>
          </fieldset>

          <fieldset class="govuk-fieldset govuk-!-margin-bottom-6">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">{{ t("federation.settings.notifications_legend") }}</legend>
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="email_notifications" name="email_notifications" type="checkbox" value="1" aria-describedby="email_notifications-hint"{% if settings.emailNotifications %} checked{% endif %}>
                <label class="govuk-label govuk-checkboxes__label" for="email_notifications">{{ t("federation.settings.email_notifications_label") }}</label>
                <div id="email_notifications-hint" class="govuk-hint govuk-checkboxes__hint">{{ t("federation.settings.email_notifications_hint") }}</div>
              </div>
            </div>
          </fieldset>

          <fieldset class="govuk-fieldset govuk-!-margin-bottom-6">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">{{ t("polish_federation.settings_communications_legend") }}</legend>
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="messaging_enabled_federated" name="messaging_enabled_federated" type="checkbox" value="1" aria-describedby="messaging_enabled_federated-hint"{% if settings.messagingEnabledFederated %} checked{% endif %}>
                <label class="govuk-label govuk-checkboxes__label" for="messaging_enabled_federated">{{ t("polish_federation.settings_messaging_label") }}</label>
                <div id="messaging_enabled_federated-hint" class="govuk-hint govuk-checkboxes__hint">{{ t("polish_federation.settings_messaging_hint") }}</div>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="transactions_enabled_federated" name="transactions_enabled_federated" type="checkbox" value="1" aria-describedby="transactions_enabled_federated-hint"{% if settings.transactionsEnabledFederated %} checked{% endif %}>
                <label class="govuk-label govuk-checkboxes__label" for="transactions_enabled_federated">{{ t("polish_federation.settings_transactions_label") }}</label>
                <div id="transactions_enabled_federated-hint" class="govuk-hint govuk-checkboxes__hint">{{ t("polish_federation.settings_transactions_hint") }}</div>
              </div>
            </div>
          </fieldset>

          <div class="govuk-form-group govuk-!-margin-bottom-6">
            <label class="govuk-label govuk-label--m" for="service_reach">{{ t("federation.settings.reach_legend") }}</label>
            <div id="service_reach-hint" class="govuk-hint">{{ t("federation.settings.reach_hint") }}</div>
            <select class="govuk-select" id="service_reach" name="service_reach" aria-describedby="service_reach-hint">
              <option value="local_only"{% if settings.serviceReach == "local_only" %} selected{% endif %}>{{ t("federation.settings.reach_local_only") }}</option>
              <option value="remote_ok"{% if settings.serviceReach == "remote_ok" %} selected{% endif %}>{{ t("federation.settings.reach_remote_ok") }}</option>
              <option value="travel_ok"{% if settings.serviceReach == "travel_ok" %} selected{% endif %}>{{ t("federation.settings.reach_travel_ok") }}</option>
            </select>
          </div>

          <div class="govuk-form-group govuk-!-margin-bottom-6">
            <label class="govuk-label govuk-label--m" for="travel_radius_km">{{ t("federation.settings.travel_radius_label") }}</label>
            <div id="travel_radius_km-hint" class="govuk-hint">{{ t("federation.settings.travel_radius_hint") }}</div>
            <div class="govuk-input__wrapper">
              <input class="govuk-input govuk-input--width-5" id="travel_radius_km" name="travel_radius_km" type="number" inputmode="numeric" value="{{ settings.travelRadiusKm }}" aria-describedby="travel_radius_km-hint">
              <div class="govuk-input__suffix" aria-hidden="true">{{ t("federation.settings.travel_radius_suffix") }}</div>
            </div>
          </div>

          <div class="govuk-button-group">
            <button type="submit" class="govuk-button" data-module="govuk-button">{{ t("federation.settings.submit") }}</button>
          </div>
        </form>

        <div class="govuk-button-group govuk-!-margin-top-6">
          <a class="govuk-button govuk-button--warning" data-module="govuk-button" href="{{ urlFor('/federation/opt-out') }}">{{ t("federation.settings.optout_button") }}</a>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
