{% extends "layouts/base.njk" %}{% block content %}<a class="govuk-back-link" href="{{ urlFor('/events/' + (event.id | string)) }}">{{ t("govuk_alpha.events.calendar_back") }}</a><h1 class="govuk-heading-xl">{{ t("govuk_alpha.events.calendar_actions_title") }}</h1><p class="govuk-body-l">{{ event.title }}</p><p class="govuk-body">{{ t("govuk_alpha.events.calendar_actions_intro") }}</p><ul class="govuk-list govuk-list--spaced"><li><a class="govuk-button" href="{{ urlFor('/events/' + (event.id | string) + '/calendar.ics') }}">{{ t("govuk_alpha.events.calendar_download") }}</a></li><li><a class="govuk-link" href="{{ actions.google_url }}" rel="noopener noreferrer">{{ t("govuk_alpha.events.calendar_google") }}</a></li><li><a class="govuk-link" href="{{ actions.outlook_url }}" rel="noopener noreferrer">{{ t("govuk_alpha.events.calendar_outlook") }}</a></li></ul>{% endblock %}
