{% extends "layouts/base.njk" %}

{% block mainContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Sorry, there is a problem with the service</h1>
      <p class="govuk-body">Try again later.</p>
      <p class="govuk-body">
        <a href="/" class="govuk-link">Go to the home page</a>
      </p>

      {% if errorDetails %}
        <details class="govuk-details govuk-!-margin-top-6">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Error details (development only)
            </span>
          </summary>
          <div class="govuk-details__text">
            <p class="govuk-body"><strong>Message:</strong> {{ errorDetails.message }}</p>
            {% if errorDetails.stack %}
              <pre style="overflow-x: auto; background: #f3f2f1; padding: 15px; font-size: 12px;">{{ errorDetails.stack }}</pre>
            {% endif %}
          </div>
        </details>
      {% endif %}
    </div>
  </div>
{% endblock %}
