{# Copyright (c) 2024-2026 Jasper Ford #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{# Author: Jasper Ford #}
{# See NOTICE file for attribution and acknowledgements. #}

{% extends "layouts/base.njk" %}

{% block content %}
  {% set ownerLabel = owner.name or t("govuk_alpha_saved.wall.from_someone") %}
  <a class="govuk-back-link" href="{{ urlFor('/members/' + (owner.id | string)) }}">{{ t("govuk_alpha_saved.public.back_to_profile") }}</a>

  <span class="govuk-caption-xl">{{ t("govuk_alpha_saved.public.caption", { name: ownerLabel }) }}</span>
  <h1 class="govuk-heading-xl">{{ t("govuk_alpha_saved.public.heading", { name: ownerLabel }) }}</h1>
  <p class="govuk-body-l">{{ t("govuk_alpha_saved.public.description") }}</p>

  {% if collections and collections.length %}
    <ul class="govuk-list nexus-alpha-card-list">
      {% for collection in collections %}
        <li class="nexus-alpha-card">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-1">
            <span class="nexus-alpha-avatar" style="background-color: {{ collection.color }}; width: 1rem; height: 1rem; display: inline-block; border-radius: 50%; vertical-align: middle;" aria-hidden="true"></span>
            <a class="govuk-link" href="{{ urlFor('/me/collections/' + (collection.id | string)) }}">{{ collection.name or t("govuk_alpha_saved.detail.title") }}</a>
          </h2>
          <p class="govuk-body nexus-alpha-meta">{{ tc("govuk_alpha_saved.collections.count", collection.itemsCount, { count: collection.itemsCount }) }}</p>
          {% if collection.description %}
            <p class="govuk-body">{{ collection.description }}</p>
          {% endif %}
          <p class="govuk-body govuk-!-margin-bottom-0">
            <a class="govuk-link" href="{{ urlFor('/me/collections/' + (collection.id | string)) }}">{{ t("govuk_alpha_saved.collections.view") }}</a>
          </p>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <div class="govuk-inset-text">
      <h2 class="govuk-heading-m">{{ t("govuk_alpha_saved.public.empty_title") }}</h2>
      <p class="govuk-body">{{ t("govuk_alpha_saved.public.empty_body") }}</p>
    </div>
  {% endif %}
{% endblock %}
