{# Copyright © 2024–2026 Jasper Ford #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{# Author: Jasper Ford #}
{# See NOTICE file for attribution and acknowledgements. #}

{% extends "layouts/base.njk" %}

{% block mainContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Privacy policy</h1>

      <p class="govuk-body">This privacy policy explains how Project NEXUS Community collects, uses and protects your personal information.</p>

      <h2 class="govuk-heading-l">What data we collect</h2>
      <p class="govuk-body">We collect:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>your email address when you sign in</li>
        <li>information about how you use this service</li>
      </ul>

      <h2 class="govuk-heading-l">How we use your data</h2>
      <p class="govuk-body">We use your data to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>provide access to the service</li>
        <li>improve the service</li>
      </ul>

      <h2 class="govuk-heading-l">Contact</h2>
      <p class="govuk-body">If you have questions about this privacy policy, <a href="/contact" class="govuk-link">contact us</a>.</p>
    </div>
  </div>
{% endblock %}
