{# Copyright (c) 2024-2026 Jasper Ford #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{# Author: Jasper Ford #}
{# See NOTICE file for attribution and acknowledgements. #}

{% extends "layouts/base.njk" %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% block mainContent %}
  <a class="govuk-back-link" href="/goals/{{ goal.id }}">Back to goal</a>

  {% if successMessage %}
    {{ govukNotificationBanner({
      type: "success",
      titleText: "Success",
      text: successMessage
    }) }}
  {% endif %}

  {% if errorMessage %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        {
          text: errorMessage,
          href: "#type-nudge"
        }
      ]
    }) }}
  {% endif %}

  <span class="govuk-caption-xl">Goal: {{ goal.title }}</span>
  <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">Send buddy support</h1>
  <p class="govuk-body-l">Send a small, visible bit of support to the goal owner. Nudges are gentle reminders, not pressure.</p>

  <form method="post" action="/goals/{{ goal.id }}/buddy-actions" class="govuk-grid-row">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">

    <div class="govuk-grid-column-two-thirds">
      <fieldset class="govuk-fieldset govuk-form-group">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">What would you like to send?</legend>
        <div class="govuk-radios" data-module="govuk-radios">
          {% for type in buddyTypes %}
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="type-{{ type.value }}" name="type" type="radio" value="{{ type.value }}" aria-describedby="type-{{ type.value }}-hint"{% if loop.first %} checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="type-{{ type.value }}">{{ type.label }}</label>
              <div id="type-{{ type.value }}-hint" class="govuk-hint govuk-radios__hint">{{ type.hint }}</div>
            </div>
          {% endfor %}
        </div>
      </fieldset>

      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="message">Add a short message (optional)</label>
        <div id="message-hint" class="govuk-hint">Leave this blank to send a friendly default message for the type you chose.</div>
        <textarea class="govuk-textarea" id="message" name="message" rows="3" maxlength="1000" aria-describedby="message-hint"></textarea>
      </div>

      <button class="govuk-button" data-module="govuk-button" type="submit">Send to goal owner</button>
    </div>
  </form>
{% endblock %}
