{# Copyright © 2024–2026 Jasper Ford #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{# Author: Jasper Ford #}
{# See NOTICE file for attribution and acknowledgements. #}

{% extends "layouts/base.njk" %}

{% block beforeContent %}
  {{ super() }}
  <a class="govuk-back-link" href="{{ urlFor('/reviews') }}">Back to reviews summary</a>
{% endblock %}

{% block mainContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Your reviews</span>
      <h1 class="govuk-heading-xl">All reviews</h1>
      <p class="govuk-body-l">Browse every review, page by page.</p>

      <nav class="govuk-!-margin-bottom-5" aria-label="Review tabs">
        <ul class="govuk-list govuk-list--inline">
          <li><a class="govuk-link{% if reviewsTab == 'received' %} govuk-!-font-weight-bold{% endif %}" href="{{ urlFor('/reviews/list?tab=received') }}">Received</a></li>
          <li><a class="govuk-link{% if reviewsTab == 'given' %} govuk-!-font-weight-bold{% endif %}" href="{{ urlFor('/reviews/list?tab=given') }}">Given</a></li>
        </ul>
      </nav>

      {% if reviewsItems.length %}
        <ul class="nexus-alpha-card-list">
          {% for review in reviewsItems %}
            <li class="nexus-alpha-card">
              <h2 class="govuk-heading-m govuk-!-margin-bottom-1">{{ review.otherLabel }} {{ review.otherName }}</h2>
              <p class="govuk-body-s nexus-alpha-meta govuk-!-margin-bottom-1">Rating: {{ review.ratingLabel }}{% if review.createdAt %} - {{ review.createdAt | formatDate }}{% endif %}</p>
              {% if review.comment %}
                <p class="govuk-body">{{ review.comment }}</p>
              {% endif %}
              {% if review.id %}
                <p class="govuk-body-s govuk-!-margin-bottom-0"><a class="govuk-link" href="{{ urlFor('/reviews/' + (review.id | string) + '/comments') }}">Comment on this review</a></p>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <p class="govuk-body">There are no reviews in this list yet.</p>
      {% endif %}

      {% if reviewsHasMore and loadMoreHref %}
        <p class="govuk-body govuk-!-margin-top-6"><a class="govuk-link" href="{{ urlFor(loadMoreHref) }}">Load more reviews</a></p>
      {% endif %}
    </div>
  </div>
{% endblock %}
