{# Copyright (c) 2024-2026 Jasper Ford #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{# Author: Jasper Ford #}
{# See NOTICE file for attribution and acknowledgements. #}

{% extends "layouts/base.njk" %}

{% block mainContent %}
  <span class="govuk-caption-xl">Project NEXUS Accessible</span>
  <h1 class="govuk-heading-xl">Saved opportunities</h1>
  <p class="govuk-body-l">Opportunities you have bookmarked.</p>

  <div class="govuk-tabs govuk-!-margin-top-2 govuk-!-margin-bottom-4">
    <h2 class="govuk-tabs__title">Jobs</h2>
    <ul class="govuk-tabs__list">
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="{{ urlFor('/jobs') }}">Browse opportunities</a>
      </li>
      <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
        <a class="govuk-tabs__tab" href="{{ urlFor('/jobs/saved') }}" aria-current="page">Saved</a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="{{ urlFor('/jobs/applications') }}">My applications</a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="{{ urlFor('/jobs/responses') }}">Responses</a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="{{ urlFor('/jobs/alerts') }}">Job alerts</a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="{{ urlFor('/jobs/mine') }}">My postings</a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="{{ urlFor('/jobs/create') }}">Post a job</a>
      </li>
    </ul>
  </div>

  {% if successMessage %}
    {% set notificationMessage = successMessage %}
    {% set notificationType = "success" %}
    {% include "partials/notification-banner.njk" %}
  {% endif %}

  {% if loadError %}
    <div class="govuk-inset-text">
      <p class="govuk-body">Saved opportunities could not be loaded. Try again.</p>
    </div>
  {% endif %}

  {% if jobs.length == 0 %}
    <div class="govuk-inset-text">
      <p class="govuk-body">You have not saved any opportunities yet.</p>
    </div>
  {% else %}
    <div class="nexus-alpha-card-list">
      {% for job in jobs %}
        <article class="nexus-alpha-card">
          <div class="nexus-alpha-module-row">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
              <a class="govuk-link" href="{{ urlFor('/jobs/' ~ job.id) }}">{{ job.title }}</a>
            </h3>
            <strong class="govuk-tag govuk-tag--blue">{{ job.typeLabel }}</strong>
          </div>

          {% if job.posterName %}
            <p class="govuk-body-s nexus-alpha-meta govuk-!-margin-bottom-1">Posted by {{ job.posterName }}</p>
          {% endif %}

          <ul class="govuk-list nexus-alpha-tag-list govuk-!-margin-bottom-1">
            {% if job.commitmentLabel %}
              <li><strong class="govuk-tag govuk-tag--grey">{{ job.commitmentLabel }}</strong></li>
            {% endif %}
            {% if job.isRemote %}
              <li><strong class="govuk-tag govuk-tag--turquoise">Remote</strong></li>
            {% endif %}
            {% if job.isFeatured %}
              <li><strong class="govuk-tag govuk-tag--yellow">Featured</strong></li>
            {% endif %}
            {% if job.hasApplied %}
              <li><strong class="govuk-tag govuk-tag--green">Applied</strong></li>
            {% endif %}
          </ul>

          <p class="govuk-body-s nexus-alpha-meta govuk-!-margin-bottom-1">
            {% if job.locationLabel %}{{ job.locationLabel }}{% endif %}
            {% if job.salaryLabel %} &middot; {{ job.salaryLabel }}{% endif %}
            {% if job.deadlineLabel %} &middot; Closing date: {{ job.deadlineLabel }}{% endif %}
          </p>

          <p class="govuk-body-s nexus-alpha-meta govuk-!-margin-bottom-0">
            {{ job.viewsLabel }} &middot; {{ job.applicationsLabel }}
          </p>

          <form method="post" action="{{ urlFor('/jobs/' ~ job.id ~ '/unsave') }}" class="govuk-!-margin-top-2">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            <input type="hidden" name="from" value="saved">
            <button type="submit" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0" data-module="govuk-button">Remove from saved</button>
          </form>
        </article>
      {% endfor %}
    </div>

    {% if jobsMeta.has_more and nextHref %}
      <nav class="govuk-pagination govuk-pagination--block govuk-!-margin-top-6" aria-label="Pagination">
        <div class="govuk-pagination__next">
          <a class="govuk-link govuk-pagination__link" rel="next" href="{{ urlFor(nextHref) }}">
            <span class="govuk-pagination__link-title">Load more</span>
            <span class="govuk-visually-hidden">:</span>
            <span class="govuk-pagination__link-label">More results</span>
          </a>
        </div>
      </nav>
    {% endif %}
  {% endif %}
{% endblock %}
