{# Copyright (c) 2024-2026 Jasper Ford #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{# Author: Jasper Ford #}
{# See NOTICE file for attribution and acknowledgements. #}

{% extends "layouts/base.njk" %}

{% block mainContent %}
  <a class="govuk-back-link" href="{{ urlFor('/resources/library') }}">{{ t("govuk_alpha_resources.actions.back_to_library") }}</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">{{ t("govuk_alpha_resources.delete.caption") }}</span>
      <h1 class="govuk-heading-xl">{{ t("govuk_alpha_resources.delete.title") }}</h1>

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-visually-hidden">{{ t("govuk_alpha_resources.delete.warning_prefix") }}</span>
          {{ t("govuk_alpha_resources.delete.warning") }}
        </strong>
      </div>

      <p class="govuk-body">{{ t("govuk_alpha_resources.delete.confirm_question", { title: resourceTitle }) }}</p>

      <form method="post" action="{{ urlFor('/resources/' + (resourceId | string) + '/delete') }}" novalidate>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        <div class="govuk-button-group">
          <button class="govuk-button govuk-button--warning" data-module="govuk-button" type="submit">{{ t("govuk_alpha_resources.delete.submit") }}</button>
          <a class="govuk-link" href="{{ urlFor('/resources/library') }}">{{ t("govuk_alpha_resources.delete.cancel") }}</a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
