{# Copyright (c) 2024-2026 Jasper Ford #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{# Author: Jasper Ford #}
{# See NOTICE file for attribution and acknowledgements. #}

{% extends "layouts/base.njk" %}

{% block mainContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <a class="govuk-back-link" href="{{ urlFor('/polls') }}">Back to polls</a>

      <span class="govuk-caption-xl">Polls at this community</span>
      <h1 class="govuk-heading-xl">{{ t("polish_discovery.polls_create_summary") }}</h1>
      <p class="govuk-body-l">Create a standard poll, where members pick one option, or a ranked-choice poll, where members order the options.</p>

      {% if statusBanner and statusBanner.type == "success" %}
        <div class="govuk-notification-banner govuk-notification-banner--success" data-module="govuk-notification-banner" role="alert">
          <div class="govuk-notification-banner__header"><h2 class="govuk-notification-banner__title">{{ t("states.success_title") }}</h2></div>
          <div class="govuk-notification-banner__content"><p class="govuk-notification-banner__heading">{{ statusBanner.message }}</p></div>
        </div>
      {% elif statusBanner and statusBanner.type == "error" %}
        <div class="govuk-error-summary" data-module="govuk-error-summary" tabindex="-1">
          <div role="alert"><h2 class="govuk-error-summary__title">{{ t("states.error_title") }}</h2><div class="govuk-error-summary__body"><ul class="govuk-list govuk-error-summary__list"><li><a href="#poll-question">{{ statusBanner.message }}</a></li></ul></div></div>
        </div>
      {% endif %}

      <form method="post" action="{{ urlFor('/polls/parity/create') }}" novalidate>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--s" for="poll-question">{{ t("polish_discovery.polls_create_title_label") }}</label>
          <div id="poll-question-hint" class="govuk-hint">Ask a clear question your community can answer.</div>
          <input class="govuk-input" id="poll-question" name="question" type="text" aria-describedby="poll-question-hint" maxlength="255">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--s" for="poll-description">Description (optional)</label>
          <div id="poll-desc-hint" class="govuk-hint">Add any extra detail to help members decide.</div>
          <textarea class="govuk-textarea" id="poll-description" name="description" rows="3" aria-describedby="poll-desc-hint" maxlength="2000"></textarea>
        </div>
        {% if categories.length %}
          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--s" for="poll-category">{{ t("jobs_t3.label_category") }}</label>
            <select class="govuk-select" id="poll-category" name="category">
              <option value="">{{ t("events.no_category") }}</option>
              {% for category in categories %}
                <option value="{{ category }}">{{ category | capitalize }}</option>
              {% endfor %}
            </select>
          </div>
        {% endif %}
        <fieldset class="govuk-fieldset govuk-!-margin-bottom-4">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">{{ t("polish_discovery.polls_create_options_legend") }} <span class="govuk-hint">Add at least 2 options. Leave any you do not need blank.</span></legend>
          {% for number in [1, 2, 3, 4, 5, 6] %}
            <div class="govuk-form-group govuk-!-margin-bottom-2">
              <label class="govuk-label" for="poll-option-{{ number }}">Option {{ number }}</label>
              <input class="govuk-input govuk-input--width-30" id="poll-option-{{ number }}" name="options[]" type="text" maxlength="255">
            </div>
          {% endfor %}
        </fieldset>
        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--s" for="poll-expires">Closing date (optional)</label>
          <input class="govuk-input govuk-input--width-10" id="poll-expires" name="expires_at" type="date">
        </div>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">{{ t("polish_discovery.polls_create_type_legend") }}</legend>
            <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="poll-type-standard" name="poll_type" type="radio" value="standard" checked>
                <label class="govuk-label govuk-radios__label" for="poll-type-standard">Standard - members choose one option</label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="poll-type-ranked" name="poll_type" type="radio" value="ranked">
                <label class="govuk-label govuk-radios__label" for="poll-type-ranked">Ranked choice - members order the options</label>
              </div>
            </div>
          </fieldset>
        </div>
        <button class="govuk-button" data-module="govuk-button">{{ t("polish_discovery.polls_create_submit") }}</button>
      </form>
    </div>
  </div>
{% endblock %}
