{# Copyright (c) 2024-2026 Jasper Ford #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{# Author: Jasper Ford #}
{# See NOTICE file for attribution and acknowledgements. #}
{% extends "layouts/base.njk" %}

{% block mainContent %}
  <a class="govuk-back-link" href="/account">Back to account settings</a>

  <span class="govuk-caption-xl">Account settings</span>
  <h1 class="govuk-heading-xl">Your availability</h1>
  <p class="govuk-body-l">Set your weekly availability so others can find times that work for both of you. You can set different times for each day.</p>

  {% if statusMessage and successStatus %}
    <div class="govuk-notification-banner govuk-notification-banner--success" data-module="govuk-notification-banner" role="alert" aria-labelledby="availability-status">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="availability-status">Success</h2>
      </div>
      <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">{{ statusMessage }}</p>
      </div>
    </div>
  {% elif statusMessage and errorStatus %}
    <div class="govuk-error-summary" data-module="govuk-error-summary" tabindex="-1">
      <div role="alert">
        <h2 class="govuk-error-summary__title">There is a problem</h2>
        <div class="govuk-error-summary__body">
          <p class="govuk-body">{{ statusMessage }}</p>
        </div>
      </div>
    </div>
  {% endif %}

  <div class="govuk-inset-text" id="availability">Add one or more time slots for each day. Leave a slot blank to skip it. The end time must be after the start time.</div>

  <form method="post" action="/settings/availability" novalidate>
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">

    {% for backendDay in displayDays %}
      {% set dayName = dayLabels[loop.index0] or "Day " + loop.index %}
      {% set existing = availabilityByDay[backendDay] or [] %}
      <fieldset class="govuk-fieldset govuk-!-margin-bottom-4">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">{{ dayName }}</legend>
        {% for slotIndex in range(0, slotsPerDay) %}
          {% set slot = existing[slotIndex] or {} %}
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
              <div class="govuk-form-group">
                <label class="govuk-label" for="start-{{ backendDay }}-{{ slotIndex }}">Start time</label>
                <input class="govuk-input govuk-input--width-5" id="start-{{ backendDay }}-{{ slotIndex }}" name="slots[{{ backendDay }}][{{ slotIndex }}][start]" type="time" value="{{ slot.start or '' }}">
              </div>
            </div>
            <div class="govuk-grid-column-one-half">
              <div class="govuk-form-group">
                <label class="govuk-label" for="end-{{ backendDay }}-{{ slotIndex }}">End time</label>
                <input class="govuk-input govuk-input--width-5" id="end-{{ backendDay }}-{{ slotIndex }}" name="slots[{{ backendDay }}][{{ slotIndex }}][end]" type="time" value="{{ slot.end or '' }}">
              </div>
            </div>
          </div>
        {% endfor %}
      </fieldset>
    {% endfor %}

    <button class="govuk-button" data-module="govuk-button">Save availability</button>
  </form>
{% endblock %}
