{# Copyright (c) 2024-2026 Jasper Ford #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{# Author: Jasper Ford #}
{# See NOTICE file for attribution and acknowledgements. #}

{% extends "layouts/base.njk" %}

{% macro errorMessage(field) %}
  {% if activeErrorField == field %}
    <p id="{{ field }}-error" class="govuk-error-message">
      <span class="govuk-visually-hidden">There is a problem:</span> {{ activeErrorMessage }}
    </p>
  {% endif %}
{% endmacro %}

{% macro errorClass(field, className) %}
  {% if activeErrorField == field %} {{ className }}{% endif %}
{% endmacro %}

{% macro describedBy(field, hintId) %}
  {{ hintId }}{% if activeErrorField == field %} {{ field }}-error{% endif %}
{% endmacro %}

{% block mainContent %}
  <a class="govuk-back-link" href="{{ urlFor('/organisations/browse') }}">Back to organisations</a>

  <span class="govuk-caption-xl">Organisations in {{ tenantName }}</span>
  <h1 class="govuk-heading-xl">Register a volunteer organisation</h1>

  {% if activeErrorMessage %}
    <div class="govuk-error-summary" data-module="govuk-error-summary" tabindex="-1">
      <div role="alert">
        <h2 class="govuk-error-summary__title">{{ t("states.error_title") }}</h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li><a href="#{{ activeErrorField }}">{{ activeErrorMessage }}</a></li>
          </ul>
        </div>
      </div>
    </div>
  {% endif %}

  <p class="govuk-body-l">List your organisation so volunteers can find your opportunities. Organisations are reviewed by an administrator before they appear publicly.</p>

  <form method="post" action="{{ urlFor('/organisations/register') }}">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-form-group{{ errorClass('name', 'govuk-form-group--error') }}">
          <label class="govuk-label" for="name">Organisation name</label>
          <div id="name-hint" class="govuk-hint">Use the full, recognised name of your organisation.</div>
          {{ errorMessage('name') }}
          <input class="govuk-input{{ errorClass('name', 'govuk-input--error') }}" id="name" name="name" type="text" minlength="3" maxlength="255" aria-describedby="{{ describedBy('name', 'name-hint') }}" required>
        </div>

        <div class="govuk-form-group{{ errorClass('description', 'govuk-form-group--error') }}">
          <label class="govuk-label" for="description">Description</label>
          <div id="description-hint" class="govuk-hint">Describe what your organisation does. Use at least 20 characters.</div>
          {{ errorMessage('description') }}
          <textarea class="govuk-textarea{{ errorClass('description', 'govuk-textarea--error') }}" id="description" name="description" rows="4" minlength="20" maxlength="2000" aria-describedby="{{ describedBy('description', 'description-hint') }}" required></textarea>
        </div>

        <div class="govuk-form-group{{ errorClass('email', 'govuk-form-group--error') }}">
          <label class="govuk-label" for="email">Contact email address</label>
          <div id="email-hint" class="govuk-hint">Volunteers and administrators will use this to contact you.</div>
          {{ errorMessage('email') }}
          <input class="govuk-input{{ errorClass('email', 'govuk-input--error') }}" id="email" name="email" type="email" autocomplete="email" aria-describedby="{{ describedBy('email', 'email-hint') }}" required>
        </div>

        <div class="govuk-form-group{{ errorClass('website', 'govuk-form-group--error') }}">
          <label class="govuk-label" for="website">{{ t("organisations.website_label") }}</label>
          <div id="website-hint" class="govuk-hint">Start with https:// - for example, https://www.example.org</div>
          {{ errorMessage('website') }}
          <input class="govuk-input{{ errorClass('website', 'govuk-input--error') }}" id="website" name="website" type="url" inputmode="url" aria-describedby="{{ describedBy('website', 'website-hint') }}">
        </div>

        <div class="govuk-inset-text">
          <h2 class="govuk-heading-s">Before you register</h2>
          <ul class="govuk-list govuk-list--bullet">
            <li>You confirm you are authorised to register this organisation.</li>
            <li>The information you provide is accurate and up to date.</li>
            <li>Your organisation is a bona-fide group, charity or community body.</li>
            <li>You will keep your opportunities and contact details current.</li>
            <li>You agree to the community guidelines for organisations.</li>
          </ul>
        </div>

        <div class="govuk-form-group{{ errorClass('agreed_terms', 'govuk-form-group--error') }}">
          <fieldset class="govuk-fieldset" aria-describedby="{% if activeErrorField == 'agreed_terms' %}agreed_terms-error{% endif %}">
            <legend class="govuk-fieldset__legend govuk-visually-hidden">Before you register</legend>
            {{ errorMessage('agreed_terms') }}
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="agreed_terms" name="agreed_terms" type="checkbox" value="1" required>
                <label class="govuk-label govuk-checkboxes__label" for="agreed_terms">I confirm the above and agree to the community guidelines.</label>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="govuk-button-group">
          <button class="govuk-button" data-module="govuk-button" type="submit">Register organisation</button>
          <a class="govuk-link" href="{{ urlFor('/organisations/browse') }}">{{ t("polish_federation.transfer_cancel") }}</a>
        </div>

        <div class="govuk-inset-text">
          <p class="govuk-body govuk-!-margin-bottom-0">Your organisation will be reviewed by an administrator before it is listed. You will be able to manage it once it is approved.</p>
        </div>
      </div>
    </div>
  </form>
{% endblock %}
