{# Copyright (c) 2024-2026 Jasper Ford #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{# Author: Jasper Ford #}
{# See NOTICE file for attribution and acknowledgements. #}

{% extends "layouts/base.njk" %}

{% block mainContent %}
  {% set hasErrors = errors and (errors.summary or errors.description or errors.impact) %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">{{ tenantName }}</span>
      <h1 class="govuk-heading-xl">Report a problem with this page</h1>

      {% if status == 'sent' %}
        <div class="govuk-panel govuk-panel--confirmation">
          <h2 class="govuk-panel__title">Problem report sent</h2>
          {% if reference %}
            <div class="govuk-panel__body">Your reference is {{ reference }}</div>
          {% endif %}
        </div>
        <p class="govuk-body govuk-!-margin-top-6">
          <a class="govuk-link" href="{{ urlFor(pageUrl or '/') }}">Return to the page</a>
        </p>
      {% else %}
        {% if hasErrors %}
          <div class="govuk-error-summary" data-module="govuk-error-summary" tabindex="-1">
            <div role="alert">
              <h2 class="govuk-error-summary__title">There is a problem</h2>
              <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                  {% if errors.summary %}<li><a href="#summary">{{ errors.summary }}</a></li>{% endif %}
                  {% if errors.description %}<li><a href="#description">{{ errors.description }}</a></li>{% endif %}
                  {% if errors.impact %}<li><a href="#impact">{{ errors.impact }}</a></li>{% endif %}
                </ul>
              </div>
            </div>
          </div>
        {% elif status == 'failed' %}
          <div class="govuk-notification-banner" data-module="govuk-notification-banner" role="region" aria-labelledby="report-error-title">
            <div class="govuk-notification-banner__header">
              <h2 class="govuk-notification-banner__title" id="report-error-title">Error</h2>
            </div>
            <div class="govuk-notification-banner__content">
              <p class="govuk-notification-banner__heading">We could not send your report. Please try again.</p>
            </div>
          </div>
        {% endif %}

        <p class="govuk-body-l">Use this form to tell us about a problem you found on this page. Do not include personal or financial information, like your password.</p>

        <form method="post" action="{{ urlFor('/report-a-problem') }}" novalidate>
          <input type="hidden" name="_csrf" value="{{ csrfToken }}">
          <input type="hidden" name="page_url" value="{{ pageUrl }}">

          <p class="govuk-body">
            Page you are reporting:
            <span class="govuk-!-font-weight-bold">{{ pageUrl }}</span>
          </p>

          <div class="govuk-form-group{% if errors.summary %} govuk-form-group--error{% endif %}">
            <label class="govuk-label govuk-label--s" for="summary">What is the problem?</label>
            <div id="summary-hint" class="govuk-hint">Give a short summary, for example "The Accept button does nothing".</div>
            {% if errors.summary %}
              <p id="summary-error" class="govuk-error-message"><span class="govuk-visually-hidden">Error:</span> {{ errors.summary }}</p>
            {% endif %}
            <input class="govuk-input{% if errors.summary %} govuk-input--error{% endif %}" id="summary" name="summary" type="text" maxlength="180" value="{{ values.summary or '' }}" aria-describedby="summary-hint{% if errors.summary %} summary-error{% endif %}">
          </div>

          <div class="govuk-form-group{% if errors.description %} govuk-form-group--error{% endif %}">
            <label class="govuk-label govuk-label--s" for="description">Describe what happened</label>
            <div id="description-hint" class="govuk-hint">Tell us what you were trying to do, what you expected, and what went wrong.</div>
            {% if errors.description %}
              <p id="description-error" class="govuk-error-message"><span class="govuk-visually-hidden">Error:</span> {{ errors.description }}</p>
            {% endif %}
            <textarea class="govuk-textarea{% if errors.description %} govuk-textarea--error{% endif %}" id="description" name="description" rows="5" maxlength="5000" aria-describedby="description-hint{% if errors.description %} description-error{% endif %}">{{ values.description or '' }}</textarea>
          </div>

          <div class="govuk-form-group{% if errors.impact %} govuk-form-group--error{% endif %}">
            <fieldset class="govuk-fieldset" aria-describedby="{% if errors.impact %}impact-error{% endif %}">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">How much did this affect you?</legend>
              {% if errors.impact %}
                <p id="impact-error" class="govuk-error-message"><span class="govuk-visually-hidden">Error:</span> {{ errors.impact }}</p>
              {% endif %}
              <div class="govuk-radios" data-module="govuk-radios" id="impact">
                {% for impact in impacts %}
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="impact-{{ impact }}" name="impact" type="radio" value="{{ impact }}" {% if values.impact == impact %}checked{% endif %}>
                    <label class="govuk-label govuk-radios__label" for="impact-{{ impact }}">
                      {% if impact == 'blocked' %}I could not complete what I was doing{% elif impact == 'major' %}It caused a major problem{% elif impact == 'minor' %}It caused a minor problem{% else %}It looked wrong but I could continue{% endif %}
                    </label>
                  </div>
                {% endfor %}
              </div>
            </fieldset>
          </div>

          <button class="govuk-button" data-module="govuk-button" type="submit">Send report</button>
        </form>
      {% endif %}
    </div>
  </div>
{% endblock %}
