{# Copyright (c) 2024-2026 Jasper Ford #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{# Author: Jasper Ford #}
{# See NOTICE file for attribution and acknowledgements. #}
{% extends "layouts/base.njk" %}

{% block content %}
  <span class="govuk-caption-xl">{{ tenantName }}</span>
  <h1 class="govuk-heading-xl">Campaigns</h1>
  <p class="govuk-body-l">Campaigns bring related challenges together under one theme.</p>

  {% set activeTab = "campaigns" %}
  {% include "ideation/_nav.njk" %}

  {% if successMessage %}
    {% set notificationMessage = successMessage %}
    {% set notificationType = "success" %}
    {% include "partials/notification-banner.njk" %}
  {% endif %}

  {% if errorMessage %}
    <div class="govuk-error-summary" data-module="govuk-error-summary" tabindex="-1">
      <div role="alert">
        <h2 class="govuk-error-summary__title">There is a problem</h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li>{{ errorMessage }}</li>
          </ul>
        </div>
      </div>
    </div>
  {% endif %}

  {% if campaigns and campaigns.length %}
    <div class="nexus-alpha-card-list">
      {% for campaign in campaigns %}
        <article class="nexus-alpha-card">
          <div class="nexus-alpha-module-row">
            <h2 class="govuk-heading-s govuk-!-margin-bottom-1">
              <a class="govuk-link" href="/ideation/campaigns/{{ campaign.id }}">{{ campaign.title }}</a>
            </h2>
            <strong class="govuk-tag {{ campaign.statusClass }}">{{ campaign.statusLabel }}</strong>
          </div>
          {% if campaign.description %}
            <p class="govuk-body govuk-!-margin-bottom-1">{{ campaign.description }}</p>
          {% endif %}
          <p class="govuk-body-s nexus-alpha-meta govuk-!-margin-bottom-0">
            {{ campaign.challengeCountText }}
            {% if campaign.creatorName %} &middot; Created by {{ campaign.creatorName }}{% endif %}
          </p>
        </article>
      {% endfor %}
    </div>
  {% else %}
    <div class="govuk-inset-text">No campaigns have been created yet.</div>
  {% endif %}
{% endblock %}
