{#
  Report link partial
  Usage: {% include "partials/report-link.njk" %}

  Required variables:
  - reportType: 'post', 'comment', 'listing', 'user', 'group', 'event'
  - reportId: ID of the content to report
  - returnTo: URL to return to after reporting (optional, defaults to current page)
#}
<a href="/reports/new?type={{ reportType }}&id={{ reportId }}&return_to={{ returnTo | urlencode if returnTo else '' }}" class="govuk-link govuk-body-s app-report-link">
  Report
</a>
